*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: 133px auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  margin: auto;
  max-width: 1140px;
  gap: 30px;
  align-items: flex-end;
}

.content__accent {
  color: #545050;
  margin-bottom: 28px;
}

.content__list {
  position: relative;
  max-height: 298px;
  overflow-y: scroll;
}

.content__list-item:not(:last-child) {
  margin-bottom: 36px;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.content__details {
  vertical-align: top;
  max-width: fit-content;
  max-height: fit-content;
}

.content__video-card-description-container {
  width: 100%;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}

.content__video-card-title {
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
}

.content__video-card-description {
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px; /* 90% */
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link {
  display: block;
}

.content__card-link:hover {
  text-decoration: underline solid 1px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  margin: 2px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.search-form__fieldset {
  border: none;
  width: fit-content;
}

.search-form__fieldset:focus {
  border: none;
}

.search-form__label {
  display: flex;
  width: fit-content;
  gap: 5px;
  box-sizing: border-box;
  align-items: center;
}

.search-form__fieldset-title {
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 7.5px;
}

.search-form__textfield {
  width: 239px;
  padding: 2.5px 0;
  background-color: #1b1919;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  appearance: none;
  cursor: text;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Fira Sans Condensed" sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__textfield:active {
  border: 1px solid #fff;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__label-text {
  cursor: pointer;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__label-text:hover {
  text-decoration: underline solid 1px;
}

.search-form__submit-button {
  width: 194px;
}

.search-form__checkbox[type="checkbox"] + .search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  background-color: #000;
  border: 1px solid #fff;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form__checkbox[type="checkbox"]:checked
  + .search-form__pseudo-checkbox::before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.title {
  margin-bottom: 28px;
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%; /* 70.5px */
  text-transform: uppercase;
}

.result__video-container {
  position: relative;
  max-width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
}

.button {
  cursor: pointer;
  border: 1px solid white;
  background-color: #1b1919;
  color: white;
  text-align: center;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  box-sizing: border-box;
  padding: 0;
  height: 34px;
}

.button:hover {
  text-decoration: underline solid 1px;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
  margin: 3px;
}

.button:active {
  background-color: #545050;
}

.more-button {
  width: 399px;
  margin: 1px;
}
